section.book-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2em;
}

section.book-form h1{
    margin: 0.25em;
    font-family: 'Sarabun', sans-serif;
    font-size: 1.2em;
    color: #9F7E69;
    opacity: 0.75;
}

.book-form form{
    top: 0;
    width: 100%;
    height: 90%;
}

.book-form input{
    margin: 1em;
}

input.file-upload{
    background-color: transparent;
    text-align: center;
    border: none;
    border-bottom: 0.5px solid gray;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
}

.admin-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-button, .users-management-link {
    padding: 0.5em 1.5em;
    margin-top: 3em;
    font-family: "Comfortaa", cursive;
    background-color: #5b5b62;
    color: #f2efc7;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
    display:block;
}

.users-management-link {
    margin: 3em auto 3em auto;
    font-size: 1.1em;
    letter-spacing: 0.25em;
    padding: 0.9em 5.1em;
    text-decoration: none;
}

.add-button:hover, .users-management-link:hover {
    background-color: #444;
    color: #f2efc7;
    transition: background-color 0.3s, color 0.3s;
}

.users-management-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 3em;
}

.users-management-container .backwards-link{
    padding: 0.9em 5.1em;
    font-family: "Comfortaa", cursive;
    background-color: #5b5b62;
    color: #f2efc7;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 3em auto 3em auto;
    font-size: 0.85em;
    letter-spacing: 0.25em;
    text-decoration: none;
}

.users-management-container .backwards-link:hover {
    background-color: #444;
    color: #f2efc7;
    transition: background-color 0.3s, color 0.3s;
}


@media only screen and (max-width: 920px) {

    .users-management-link{
        padding: 1em;
        font-size: 1.5vh;
    }
}