#passwordModal, #addBookModal, #addAuthorModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;  /* Aby zapewnić, że modal będzie na wierzchu */
}

#editBookModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;  /* Aby zapewnić, że modal będzie na wierzchu */
}

#deleteBookModal, #deleteUserModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;  /* Aby zapewnić, że modal będzie na wierzchu */
}

#editUserModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;  /* Aby zapewnić, że modal będzie na wierzchu */
}

#reserveModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;  /* Aby zapewnić, że modal będzie na wierzchu */

}

#cancelModal, #cancelModalAdmin, #lendModalAdmin, #cancelLoanModalAdmin, #returnModalAdmin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;  /* Aby zapewnić, że modal będzie na wierzchu */

}

.modal-content {
    top: 25%;
    left: 35%;
    background-color: #F2EFC7;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    max-width: 400px;
    width: 90%;
    position: relative;
}

#addBookModal .modal-content {
    top: 5%;
    left: 35%;
    padding:50px;
    width: 100%;
}


#editBookModal .modal-content {
    top: 5%;
    left: 35%;
    padding:20px;
    width: 100%;
}

#editUserModal .modal-content {
    top: 15%;
    left: 35%;
    padding:20px;
    width: 100%;
}

#deleteBookModal .modal-content, #deleteUserModal .modal-content {
    padding: 1.5em 0;
}

.modal-content h2{
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

.modal-content form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal-content input
{
    margin: 1.3em;
    width: 80%;
}

#addBookModal .modal-content input
{
    margin: 1.3em;
    width: 100%;
}


.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: #5b5b62;
    cursor: pointer;
}

.close-button:hover {
    background-color: #9F7E69;
    color: #F2EFC7;
    border-radius: 20%;  /* To doda kształt koła wokół symbolu "x" */
    transition: background-color 0.3s, color 0.3s;  /* Płynna zmiana */
}

.modal-content button {
    opacity: 0.9;
    width: 25%;
    color: rgba(63, 60, 34, 0.8);
    background: rgba(207, 185, 158, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 5px 0px rgba(0, 0, 0, 0.1) inset;
}

.modal-content button:hover {
    background-color: rgba(207, 185, 158, 0.9);
    color: #3f3c22;
    transition: background-color 0.3s, color 0.3s;
}

.modal-messageBox {
    color: red;
    text-align: center;
    font-family: 'Sarabun', sans-serif;
}

#editBookModal button, #editUserModal button {
    padding: 0.75em 2em;
    text-align: center;
}

#editUserModal button{
    margin: 2em;
}

.close-button-delete, .close-button-delete-user {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: #5b5b62;
    cursor: pointer;
}

.close-button-delete:hover, .close-button-delete-user:hover {
    background-color: #9F7E69;
    color: #F2EFC7;
    border-radius: 20%;  /* To doda kształt koła wokół symbolu "x" */
    transition: background-color 0.3s, color 0.3s;  /* Płynna zmiana */
}

#deleteBookModal p, #deleteUserModal p, #lendModalAdmin p, #cancelModalAdmin p{
    font-family: 'Sarabun', cursive;
    text-align: center;
    margin: 3em;
}

.delete-confirmation, .reserve-confirmation, .cancel-confirmation, .lend-confirmation,
.cancel-loan-confirmation, .return-confirmation{
    display: flex;
    justify-content: center
}

.delete-confirmation button, .reserve-confirmation button, .cancel-confirmation button
.lend-confirmation button, .cancel-loan-confirmation button, .return-confirmation button{
    margin: 1.2em;
}

.modal-content button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

#reserveModal, #cancelModal, #cancelModalAdmin #lendModalAdmin,
#cancelLoanModalAdmin, #returnModalAdmin p{
    font-family: 'Sarabun', cursive;
    text-align: center;
    line-height: 1.5em;
}

@media only screen and (max-width: 920px) {
     #editBookModal .modal-content, #addBookModal .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #F2EFC7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        max-width: 300px;
        text-align: center;

    }

    .modal-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #F2EFC7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        max-width: 300px;
        text-align: center;
    }


    .modal-content button{
        padding-left: 2em;
        padding-right:2em;
        font-size: 0.7em;
        position: relative;
        display: inline-block;
        text-align: center;
        width: auto;
    }


    #changePasswordForm, #editBookForm, #addBookForm{
       margin: 0;
        width: 100%;
    }

    #editBookForm input,
    #addBookForm input{
        font-size: 0.8em;
    }


    .delete-confirmation button, .reserve-confirmation button, .cancel-confirmation button,
    .lend-confirmation button, .cancel-loan-confirmation button, .return-confirmation button
    {
        width: 5em;
        text-align: center;
    }
}