body {
    margin: 0;
    background-color: #FFEEE2;
}

.login-container, .register-container{
    width: 100vw;
    height: 100vh;
    border: 1px solid #9F7E69;
    background: #F2EFC7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 80%;
    text-align: center;
    margin: 1em;
}

.user-info {
    font-family: "Comfortaa", cursive;
    font-size: 1vw;
    color: #5b5b62;
    background-color: #f7ffe0;
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 1.5em;
    right: 6em;
}

.top-bar {
    position: relative;
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 40vh;
    position: relative;
    top: -15vh;
}

input, button {
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
    font-size: 1.1em;
    letter-spacing: 0.25em;
    border: none;
    box-sizing: content-box;
}

button:hover {
    background-color: rgba(207, 185, 158, 0.95);
    color: #3f3c22;
    transition: background-color 0.3s, color 0.3s;
}

input {
    opacity: 0.75;
    width: 40%;
    color: #5B5B62;
    background: linear-gradient(180deg, rgba(207, 185, 158, 0.20) 56.04%, rgba(210, 187, 160, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 5px 0px rgba(0, 0, 0, 0.1) inset;
}

button {
    opacity: 0.9;
    width: 25%;
    color: #9F7E69;
    background: rgba(207, 185, 158, 0.66);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 5px 0px rgba(0, 0, 0, 0.1) inset;
}

.login-container button{
    margin-bottom: 2em;
}

input:focus {
    outline: none;
}

.no-valid {
    border: 2px solid red; /* Dodaj podświetlenie błędnego pola */
}


.messages {
    color: red;
    text-align: center;
    font-family: 'Sarabun', sans-serif;
}



.top-bar {
    height: 15vh;
    width: 100%;
    background-color: #F2EFC7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-logo {
    height: 80%;
}

nav {
    height: 8vh;
    width: 100%;
    background-color: #D2BBA0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    width: 12vw;
    height: 6vh;
    border-radius: 1em;
    background: rgba(91, 91, 98, 0.70);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: white;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
    line-height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
    overflow: hidden;
}

.nav-button:hover {
    background: rgba(91, 91, 98, 1);
}

.nav-button i, .nav-button span {
    margin: 0 0.3em;
}

.nav-button i {
    font-size: 1.5em;
}

.nav-button.active {
    background: #d8d7d6;
    color: #7F7874;
}

.nav-button.active:hover {
    background: #c2c2c2;
}


.admin-panel-button {
    width: 12vw;
    height: 6vh;
    border-radius: 1em;
    background: rgba(91, 91, 98, 0.85);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #F2EFC7;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
    line-height: 2vh;
    padding: 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow: hidden;
    box-sizing: border-box;
}


.nav .admin-panel-button:hover {
    background-color: #5b5b62;
    color: #FFEEE2;
}

.admin-panel-button i {
    margin: 0 0.3em;
    font-size: 1.5em;
}

.admin-panel-button span {
    margin: 0 0.3em;
}

.admin-panel-button.active {
    background: #d8d7d6;
    color: #7F7874;
}

.admin-panel-button.active:hover {
    background: #c2c2c2;
}



.register-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 40vh;
    position: relative;
    top: -17vh;
}

.register-link {
    display: block;
    margin-top: 1em;
    color: #9F7E69; /* Używam jednego z kolorów już istniejących w twoim arkuszu stylów */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    text-align: center;
    border: 1px solid #9F7E69;
    padding: 0.5em;
    border-radius: 0.3em;
    transition: background-color 0.3s, color 0.3s;
}

.register-link:hover {
    background-color: #9F7E69;
    color: #F2EFC7; /* Kolor tła formularza logowania */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    gap: 1em; /* Odstęp pomiędzy polem wyszukiwania a przyciskiem */
}

.search-input {
    padding: 0.5em;
    font-family: "Comfortaa", cursive;
    border: 1px solid #5b5b6295;
    border-radius: 0.5em;
    outline: none;
    flex-grow: 1; /* pozwala na rozciągnięcie się pola tekstowego */
    max-width: 400px; /* maksymalna szerokość pola tekstowego */
}

.search-button {
    padding: 0.5em 1.5em;
    font-family: "Comfortaa", cursive;
    background-color: #5b5b62;
    color: #f2efc7;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #444;
    color: #f2efc7;
    transition: background-color 0.3s, color 0.3s;
}

.no-results-message {
    font-size: 1.5em;
    font-family: 'Sarabun', sans-serif;
    background-color: #f7ffe0;
    margin: 1em 0;
    padding: 1.5em;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.archive-button-container, .archive-reverse-container {
    display: flex;
    justify-content: center;
}

.loans-archive-link, .archive-reverse-link {
    margin-top: 5em;
    padding: 0.9em 5.1em;
    font-family: "Comfortaa", cursive;
    background-color: #5b5b62;
    color: #f2efc7;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
    display:block;
    font-size: 0.85em;
    letter-spacing: 0.25em;
    text-decoration: none;
}

.users-management-link {
    margin: 3em auto 3em auto;

}


.profile-container {
    height: 100%;
    margin-top: 5em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    }

.profile-name {
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    color: #9F7E69;
    font-size: 2.5em;
}

.profile-role {
    font-family: 'Comfortaa', cursive;
    margin: 1em auto;
    color: #9F7E69;
    font-size: 1.5em;
}


.profile-info {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    letter-spacing: 3px;
    color: #5b5b62; /* Kolor tekstu */

    line-height: 5em; /* Odstęp między liniami tekstu */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#openPasswordModal {
    background-color: #5b5b62;
    color: #f2efc7;
    border: none;
    border-radius: 0.8em;
    padding: 0.5em 1.5em;
    font-family: "Comfortaa", cursive;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#openPasswordModal:hover {
    background-color: #444;
}



@media only screen and (max-width: 920px) {


    .login-container {
        width: 100%;

    }

    .logo {
        width: 80vw;
        height: 80vh;
    }

    form {
        width: 80%;
        top: 0;
        margin-top: 10em;
    }

    input {
        width: 100%;
        font-size: 3.5vw;
    }

    button {
        width: 40%;
        font-size: 3.5vw;
    }

    .register-link {
    font-size: 3.5vw;
    }


    .nav-button {
        width: 14vw;
    }


    nav .nav-button span {
        display: none;
    }

    .admin-panel-button {
        width: 14vw;
    }

    .admin-panel-button span{
        display: none;
    }

    .user-info{
        font-size: 1.3vh;
    }

    .profile-container{
        justify-content: center;
        margin: 5em 0;
    }

    .profile-container p{
        font-size: 1em;
    }

    .profile-container .button-container {
        margin-top: 3em;
    }

    .search-input,
    .search-button {
        margin-bottom: 0.5em;
    }

    .search-input{
        width: 80vw;
        height: 20px;
        margin-top: 2em;
        font-size: 0.9em;
    }

    .search-button{

        width: 50vw;
        height: 30px;
        font-size: 0.9em;

    }
    .search-container {
        flex-direction: column;
    }

    #openAddBookModal{
        font-size: 0.7em;
    }


}




