.book-entry {
	display: flex;
	align-items: center;
	margin-left: 1em;
	margin-bottom: 2.5em;
}

.catalog-table, .user-table, .loans-table, .reservations-table{
	margin-top: 2em;
	border-radius: 1em;
	box-shadow: 0 0 0 1px #ccc inset;
	overflow: hidden;
	border-collapse: collapse;
	font-family: "Comfortaa", cursive;
	font-size: 1.1em;
	height: 4em;
	width: 100%;
	table-layout: fixed;
}

.catalog-table th, .user-table th, .loans-table th, .reservations-table th,
.catalog-table td, .user-table td, .loans-table td, .reservations-table td{
	padding: 10px;
	text-align: center;
	white-space: normal;
	word-wrap: break-word;
}

.catalog-table th, .user-table th, .loans-table th, .reservations-table th{
	font-family: "Sarabun", sans-serif;
	font-size: 1.1em;
	background-color: #f7ffe0;
	color: #5b5b62;
	text-align: center;
	border: 1px solid #d2bba0;
}

.header-container {
	display: flex;
	margin-bottom: 1em;
}

.header-container .empty-field {
	width: 9em;
	margin-right: 3em;
	visibility: hidden;
}


.catalog-table tr, .user-table tr, .loans-table tr, .reservations-table tr {
	height: auto;
}

.catalog-table td, .user-table td, .loans-table td, .reservations-table td {
	border: 1px solid #5b5b6295;
}


.catalog-table tbody tr{
	height: 5em;
	line-height: 1.5em;
}

.catalog-table td .btn-container {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Stylowanie przycisku wypożyczenia */
.catalog-table td button {
	width: 50%;
	margin: 0.2em auto;
	padding: 0.8em 4em; /* Zwiększenie paddingu dla przycisku */
	font-family: 'Comfortaa', cursive;
	font-size: 0.8em; /* Ewentualne zmniejszenie wielkości czcionki, jeśli tekst nadal wystaje */
	background-color: #5b5b62;
	color: #f2efc7;
	border: none;
	border-radius: 0.8em;
	cursor: pointer;
	transition: background-color 0.3s;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* Stylowanie przycisku wypożyczenia podczas najechania */
.catalog-table td button:hover {
	background-color: #444;
}

/* Stylowanie niedostępnego przycisku wypożyczenia */
.catalog-table td button:disabled {
	background-color: #c2c2c2;
	cursor: not-allowed;
	color: #1c1c1c;
}

.catalog-table td button:disabled:hover {
	background-color: #c2c2c2;
	color: #f2efc7;
	transition: color 0.3s;
}

.catalog-table td button {
	padding: 0.6em 2em;
	font-size: 0.75em;
}



.admin-panel .catalog-table th:nth-child(1),
.admin-panel .catalog-table td:nth-child(1) {

	width: 3em
}

.catalog .catalog-table th:nth-child(6),
.catalog .catalog-table td:nth-child(6) {
	width: 6em;
}


.admin-panel .catalog-table th:nth-child(7),
.admin-panel .catalog-table td:nth-child(7) {

	width: 6em
}


/* Stylowanie dla obrazka okładki */
.book-cover {
	width: 9em;
	height: 9em;
	border-radius: 1em;
	margin-right: 1em;
	background-color: #d2bba0; /* Tymczasowy kolor dla podglądu, później do usunięcia */
	flex-shrink: 0;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Aktualizacja stylowania dla naprzemiennych wierszy */
.book-entry:nth-child(odd) .catalog-table tr {
	background-color: #d2bba0;
	color: #5b5b62;
}

.book-entry:nth-child(even) .catalog-table tr {
	background-color: rgba(159, 126, 105, 0.9);
	color: #f2efc7;
}

/*.book-entry:hover .catalog-table tr {
	background-color: rgba(221, 159, 97, 0.8);
	color: #1c1c1c;
}*/

.book-cover img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	border-radius: 1em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.user-table th{
	height: 3em;
}

.user-table tr:nth-child(odd) {
	background-color: #d2bba0;
	color: #5b5b62;
}

.user-table tr:nth-child(even) {
	background-color: rgba(159, 126, 105, 0.9);
	color: #f2efc7;
}

.user-table{
	width: 96%;
	margin: auto;
	margin-bottom: 3em;
}

.user-table td .user-management-buttons {
	width: 20%;
	margin: 0.2em 0.4em;
	padding: 0.8em 1.5em; /* Dopasowanie paddingu, może wymagać zmiany dla tekstu "Ranga administratora" */
	font-family: 'Comfortaa', cursive;
	font-size: 0.8em;
	background-color: #5b5b62;
	color: #f2efc7;
	border: none;
	border-radius: 0.8em;
	cursor: pointer;
	transition: background-color 0.3s;
}

.user-table td .user-management-buttons:hover {
	background-color: #444;
}

.user-table td .user-management-buttons:disabled {
	background-color: #c2c2c2;
	cursor: not-allowed;
	color: #1c1c1c;
}

.user-table td .user-management-buttons:disabled:hover {
	background-color: #c2c2c2;
	color: #f2efc7;
	transition: color 0.3s;
}

.user-table td .user-management-buttons {
	padding: 0.6em 1.2em; /* Ponowne dostosowanie paddingu dla przycisków */
	font-size: 0.75em;
}

.user-table th:nth-child(1),  /* zmień "n" na numer kolumny liczby egzemplarzy */
.user-table td:nth-child(1) {  /* to samo dla komórek z wartościami */
	width: 3.5em;  /* Przykładowa szerokość, możemy dostosować wg potrzeb */
}

.user-table th:nth-child(4),  /* zmień "n" na numer kolumny liczby egzemplarzy */
.user-table td:nth-child(4) {  /* to samo dla komórek z wartościami */
	width: 7em;  /* Przykładowa szerokość, możemy dostosować wg potrzeb */
}



.loans-table th, .reservations-table th{
	height: 3em;
}

.loans-table tr:nth-child(odd), .reservations-table tr:nth-child(odd) {
	background-color: #d2bba0;
	color: #5b5b62;
}

.loans-table tr:nth-child(even), .reservations-table tr:nth-child(even) {
	background-color: rgba(159, 126, 105, 0.9);
	color: #f2efc7;
}

.loans-table, .reservations-table{
	width: 96%;
	margin: 2em;
}

.loans-table td .loans-management-buttons, .reservations-table td .reservations-management-buttons{
	width: 40%;
	margin: 0.2em 0.4em;
	padding: 0.8em 1.5em; /* Dopasowanie paddingu, może wymagać zmiany dla tekstu "Ranga administratora" */
	font-family: 'Comfortaa', cursive;
	font-size: 0.8em;
	background-color: #5b5b62;
	color: #f2efc7;
	border: none;
	border-radius: 0.8em;
	cursor: pointer;
	transition: background-color 0.3s;
}

.loans-table td .loans-management-buttons:hover, .reservations-table td .reservations-management-buttons:hover {
	background-color: #444;
}

.loans-table td .loans-management-buttons:disabled, .reservations-table td .reservations-management-buttons:disabled {
	background-color: #c2c2c2;
	cursor: not-allowed;
	color: #1c1c1c;
}

.loans-table td .loans-management-buttons:disabled:hover, .reservations-table td .reservations-management-buttons:disabled:hover{
	background-color: #c2c2c2;
	color: #f2efc7;
	transition: color 0.3s;
}

.loans-table td .loans-management-buttons, .reservations-table td .reservations-management-buttons {
	padding: 0.6em 0.6em; /* Ponowne dostosowanie paddingu dla przycisków */
	font-size: 0.7em;
}

.loans-table th:last-child, .reservations-table  th:last-child,
.loans-table td:last-child, .reservations-table td:last-child {
	width: 16em;
}

#loansTableUser th:last-child, #loansTableUser td:last-child{
	width: auto;
}

#loans-archive-table td,
#loans-archive-table th{
	width: auto;
}

#reservationsTableUser th:last-child,
#reservationsTableUser td:last-child
{
	width: auto;
}



.loans h2, h3
{
	font-family: "Sarabun", sans-serif;
	text-align: center;
	color: #5b5b62;
	margin: 2em auto 1em auto;
}

.loans h3{
	margin-top: 3em;
}

.reservations h2
{
	font-family: "Sarabun", sans-serif;
	text-align: center;
	color: #5b5b62;
	margin: 2em auto 1em auto;
}

#reservations-table-message,
#loans-table-message-admin,
#loans-table-message-user,
#loans-table-message-archive{
	height: 5em;
}


@media only screen and (max-width: 920px) {
	/* Ukrywanie obrazków w książkach */
	.book-entry .book-cover {
		display: none;
	}


	.empty-field {
		display: none;

	}

	.book-entry {

		margin-left: 0;

	}


	#common-catalog th,
	#common-catalog td,
	#admin-catalog th,
	#admin-catalog td {
		width: auto;
		font-size: 0.65em;

	}


	#common-catalog th:nth-child(3),
	#common-catalog th:nth-child(4),
	#common-catalog th:nth-child(5) {
		display: none;
	}


	#common-catalog td:nth-child(1),
	#common-catalog td:nth-child(4),
	#common-catalog td:nth-child(5) {
		display: none;
	}

	#admin-catalog th:nth-child(1),
	#admin-catalog th:nth-child(4),
	#admin-catalog th:nth-child(5),
	#admin-catalog th:nth-child(6) {

		display: none;
	}

	#admin-catalog td:nth-child(1),
	#admin-catalog td:nth-child(4),
	#admin-catalog td:nth-child(5),
	#admin-catalog td:nth-child(6) {

		display: none;
	}

	.user-table th:nth-child(1),
	.user-table td:nth-child(1),
	.user-table th:nth-child(2),
	.user-table td:nth-child(2) {

		display: none;
	}

	.user-table th,
	.user-table td {

		height: auto;
		width: auto;
	}

	.user-table th {

		font-size: 0.7em;
	}

	.user-table td {

		font-size: 0.65em;
	}


	.user-table th:nth-child(3),
	.user-table td:nth-child(3),
	.user-table th:nth-child(4),
	.user-table td:nth-child(4) {
		width: 20vw;
	}

	.user-table td:last-child {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}


	.user-table td .user-management-buttons {
		width: 100px;
	}

	.loans-archive-link {
		font-size: 0.7em;
	}

	.archive-reverse-link {
		font-size: 0.7em;
	}

	.loans-table th:last-child, .loans-table td:last-child {
		width: auto;
	}

	.loans-table th {
		font-size: 0.7em;
	}

	.loans-table td {
		font-size: 0.65em;
	}

	.loans-table {
		margin: auto;
	}


	#loansTableAdmin th:nth-child(1),
	#loansTableAdmin td:nth-child(1),
	#loansTableAdmin th:nth-child(3),
	#loansTableAdmin td:nth-child(3),
	#loansTableAdmin th:nth-child(4),
	#loansTableAdmin td:nth-child(4) {
		display: none;
	}

	#loansTableAdmin th {
		font-size: 0.7em;
	}

	#loansTableAdmin td {
		font-size: 0.65em;
	}


	#loansTableBodyAdmin td:last-child button {
		width: 100%;
	}


	#loansArchiveTable th {
		font-size: 0.65em;
	}

	#loansArchiveTable td {
		font-size: 0.6em;
	}

	.reservations-table {
		margin: auto;
	}

	.reservations-table th {
		font-size: 0.7em;
		word-wrap: break-word;
		white-space: normal;
	}

	.reservations-table td {
		font-size: 0.65em;
	}


	.reservations-table th:last-child,
	.reservations-table td:last-child{
		width: 200px;
	}

	#reservationsTableUser th:first-child,
	#reservationsTableUser td:first-child,
	#reservationsTableUser td:nth-child(2),
	#reservationsTableUser th:nth-child(2){
		display: none;
	}

	#reservationsTableUser th:last-child,
	#reservationsTableUser td:last-child
	{
		width: 30vw;
	}

	#reservationsTableAdmin th:last-child,
	#reservationsTableAdmin td:last-child
	{
		width: 25vw;
		padding: 0;
	}

	#reservationsTableAdmin th:last-child button,
	#reservationsTableAdmin td:last-child button
	{
		width: 20vw;
		margin: 1em auto;
	}

	#reservationsTableAdmin th:first-child,
	#reservationsTableAdmin td:first-child,
	#reservationsTableAdmin td:nth-child(3),
	#reservationsTableAdmin th:nth-child(3),
	#reservationsTableAdmin td:nth-child(4),
	#reservationsTableAdmin th:nth-child(4)
	{
		display: none;
	}

	#reservationsTableAdmin td {
		font-size: 0.6em;
	}
}



